
<div class="archivos-card">
    <div class="head-archivo">
        <i class="fa-solid fa-file"></i>
        <p class="titulo-archivo">Parcial Investigación de Operaciones II</p>
    </div>
    <p class="autor-archivo">subido por <label>Alessandro Vidal</label></p>
    <div class="info-extra">
        <p class="curso-archivos">Investigacion de operaciones</p>
        <p class="carrera-archivo">Ingeniería informática</p>
    </div>
    <div class="btn-archivos">
        <button class="calificar">
            <i class="fa-solid fa-thumbs-up"></i> 100%
        </button>
        <button class="guardar">
            <i class="fa-solid fa-bookmark"></i> Guardar
        </button>
    </div>
</div>
