<div class="contain-card">
    <div class="card-calendar">
        <p class="fecha">mar. 15</p>
        <div class="principal">
            <p class="titulo">Webinar: Aplicación de la IA en la educación</p>
            <p class="facultad">Facultad de ingeniería</p>
            <p class="validez">Valido para constancia</p>
        </div>
        <div class="info">
            <div class="hora-block">
                <i class="fa-solid fa-clock" style="color: #00BC4F;"></i>
                <p class="hora">18:00 - 19:00 pm</p>
            </div>
            <div class="ubi-block">
                <i class="fa-solid fa-location-dot" style="color: #00BC4F;"></i>
                <p class="ubi">Auditorio Ollantaytambo</p>
            </div>
        </div>
    </div>
    <div class="decoration">

    </div>
</div>